body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #262625 ;
    color: white;
    margin-left: 0;
    margin-top:1.5em;
    padding: 0;
    margin: 0;
    padding:0;
}


.position-logo-{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-home{
    width: 18em;
    margin-top: 2em;
}

main{
    text-align: center;
}

main h1{
    font-size: .9em;
    color: #D4F291;
    font-weight: 600;
    margin-bottom: 1.5em;
}

main a {
    text-decoration: none;
    color: black;
}

.discover-now-button{
    background-color: #E6E6E6;
    padding: .5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 0.5em;
    color: black;
}

.store-pic-home{
    justify-content: center;
    width: 20em;
    margin-top: 2em;
}

main h2{
    font-size: .9em;
    color: #D4F291;
}
main section p {
    font-weight: lighter;
    margin-bottom: 2em;
}

.plug-section{
    justify-content: center;
    width: 22em;
    margin-top: 1em;
}


.back-button{
    font-size:.8em;
    text-decoration: none;
    background-color:#D4F291;
    padding: .2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    color: black;
    margin-top: 1em;
    margin-left: .7em;
    position: fixed;
    z-index: 2;
}

main img{
    width: 60%;
    margin-top: 3em;
    margin-bottom: 1.7em;
}

/* Algemene CSS voor de boxen */
.box1, .box2, .box3, .box4 {
    width: 100vw; /* Volledige breedte van het scherm */
    height: 10em; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0; 
    padding: 0; 
    margin-bottom: 2em;
}

.box4{
    width: 100vw; /* Volledige breedte van het scherm */
    height: 13em; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0; 
    padding: 0; 
    margin-bottom: 2em;
    margin-top: 0;
}

.box1 {
    background-image: url('Afbeeldingen/dkb.png');
}

.box2 {
    background-image: url('Afbeeldingen/getinspired-banner.png');
}

.box3 {
    background-image: url('Afbeeldingen/whyvintage-banner.png');
}

.box4 {
    background-image: url('Afbeeldingen/getinspired-banner.png');
}

.box1 h2, .box2 h2, .box3 h2, .box4 h2 {
    font-size: 1.5em;
    color: white;
}

.box4 p{
    font-size: .8em;
    margin-top: 0;
    color: #D4F291;
}
.box4 h2{
    margin-bottom:.3em;
    margin-top:1.5em
}

.discover-button1, .discover-button2, .discover-button3 {
    background-color: #D4F291;
    border: none;
    padding: 0.3em 1.7em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 1.5em;
    margin-top: 0;
}

.box-content1, .box-content2, .box-content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inspired-box{
    margin-bottom:2em;
}
.box-content2 p{
    font-size: .6em;
    margin-top: 0;
}


/*STORE PAGE*/
.dukescupboard-store-photo{
    width: 100vw; 
    height: 10em; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0; 
    padding: 0; 
    margin-bottom: 2em;
}
.kelder-store-photo{
    width: 100vw; 
    height: 10em; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0; 
    padding: 0; 
    margin-bottom: 2em;
}

.vintagemarbles-store-photo{
    width: 100vw; 
    height: 10em; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0; 
    padding: 0; 
    margin-bottom: 2em;
}

.inspirationheadbox{
    width: 100vw; 
    height: 10em; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0; 
    padding: 0; 
    margin-bottom: 2em;
}

.dukescupboard-store-photo{
    background-image:url(Afbeeldingen/dkb.png);
}

.kelder-store-photo{
    background-image:url(Afbeeldingen/kelder-banner.png);
}

.vintagemarbles-store-photo{
    background-image:url(Afbeeldingen/vintagemarbles-banner.png);
}

.inspirationheadbox{
    background-image:url(Afbeeldingen/getinspired-banner.png);
}
.content-dc h5{
    font-size: 2em;
    margin-bottom: .5em;
    margin-top: 1em;
}

.content-dc p {
    font-size: .7em;
    color: #D4F291;
}


main article {
    margin:1em;
    font-weight: lighter;
}
  
article span{
    color: #D4F291;
}

main section h6{
    font-size: 1.5em;
    margin-bottom: .5em;
}

div.scroll-container {
    background-color:#262625;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 5em;
  }
  
  div.scroll-container img {
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1em;
    width:80%;
  }

Main article h6{
    font-size: 1em;
    color: hotpink;
}

div.scroll-container-polaroid {
    background-color:#262625;
    overflow: auto;
    white-space: nowrap;
    margin:0;
    padding-top: .5em;
    padding-bottom: 2em;
    padding-right: 2em;
    margin-right: 0;
    margin-bottom: 0;
  }

  
  div.scroll-container-polaroid img {
    margin:0;
    padding:0;
    padding-left:1em;
    padding-right:0;
    width:80%;
  }

  .name-box{
    margin-bottom: 0;
    padding-top: 1em;
    background-color:#262625;
  }

  .name-box h2{
    margin:0;
    font-size: 1em;
    color:#D4F291;
    font-family:Arial, Helvetica, sans-serif;

  }

  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

::-webkit-scrollbar-track {
    background: #262625; 
}

::-webkit-scrollbar-thumb {
    background-color: #D4F291; 
    border-radius: 10px; 
    border: 2px solid #262625; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #A3D178; /* Color when hovering over the thumb */
}


.about-us-header{
    margin-bottom: 0;
}

.about-us-box{
    background-image:url(Afbeeldingen/whyvintage-banner.png) ;
    width: 100vw; 
    height: 10em; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0; 
    padding: 0; 
    margin-bottom: 2em;
}
